/*
  --conta-dark: #2a363b;
  --conta-note: #ff847c;
  --conta-interact: #68878e;
  --conta-ok: #99b898;
  --conta-warning: #e84a5f;
  --conta-comment: #807c7c;
  --bright-green: #a2fca2;
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: #62c8f3;
}

.hljs-params,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #ade5fc;
}

.hljs-string,
.hljs-bullet {
  color: #a2fca2;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #c6efc5;
}

.hljs-number {
  color: #d8ffd8;
}

.hljs-symbol,
.hljs-bullet {
  color: #fabb95;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #b0e2ef;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #888;
}

.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}

.hljs-meta {
  color: #ff847c;
}

.hljs-deletion {
  background-color: #ff847c;
  color: #333;
}

.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
