@font-face {
  font-family: "Syne Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("Syne Mono Regular"),
    local("Syne Mono-Regular"),
    url(~@fontsource/syne-mono/files/syne-mono-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/syne-mono/files/syne-mono-latin-400-normal.woff) format("woff");
}
