@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src:
    local("Space Grotesk Regular"),
    local("Space Grotesk-Regular"),
    url(~@fontsource/space-grotesk/files/space-grotesk-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/space-grotesk/files/space-grotesk-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src:
    local("Space Grotesk Medium"),
    local("Space Grotesk-Medium"),
    url(~@fontsource/space-grotesk/files/space-grotesk-latin-500-normal.woff2) format("woff2"),
    url(~@fontsource/space-grotesk/files/space-grotesk-latin-500-normal.woff) format("woff");
}
