@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway Regular"),
    local("Raleway-Regular"),
    url(~@fontsource/raleway/files/raleway-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/raleway/files/raleway-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src:
    local("Raleway Italic"),
    local("Raleway-Italic"),
    url(~@fontsource/raleway/files/raleway-latin-400-italic.woff2) format("woff2"),
    url(~@fontsource/raleway/files/raleway-latin-400-italic.woff) format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src:
    local("Raleway Medium"),
    local("Raleway-Medium"),
    url(~@fontsource/raleway/files/raleway-latin-500-normal.woff2) format("woff2"),
    url(~@fontsource/raleway/files/raleway-latin-500-normal.woff) format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  src:
    local("Raleway Medium Italic"),
    local("Raleway-MediumItalic"),
    url(~@fontsource/raleway/files/raleway-latin-500-italic.woff2) format("woff2"),
    url(~@fontsource/raleway/files/raleway-latin-500-italic.woff) format("woff");
}
