@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("JetBrains Mono Regular"),
    local("JetBrainsMono-Regular"),
    url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src:
    local("JetBrains Mono Italic"),
    local("JetBrainsMono-Italic"),
    url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-italic.woff2) format("woff2"),
    url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-italic.woff) format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src:
    local("JetBrains Mono Medium"),
    local("JetBrainsMono-Medium"),
    url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-500-normal.woff2) format("woff2"),
    url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-500-normal.woff) format("woff");
}
