@font-face {
  font-family: "Oxygen Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("Oxygen Mono Regular"),
    local("Oxygen Mono-Regular"),
    url(~@fontsource/oxygen-mono/files/oxygen-mono-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/oxygen-mono/files/oxygen-mono-latin-400-normal.woff) format("woff");
}
