@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("Space Mono Regular"),
    local("Space Mono-Regular"),
    url(~@fontsource/space-mono/files/space-mono-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/space-mono/files/space-mono-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 500;
  src:
    local("Space Mono Regular"),
    local("Space Mono-Regular"),
    url(~@fontsource/space-mono/files/space-mono-latin-700-normal.woff2) format("woff2"),
    url(~@fontsource/space-mono/files/space-mono-latin-700-normal.woff) format("woff");
}

