@font-face {
  font-family: "Mononoki";
  font-style: normal;
  font-weight: 400;
  src:
    local("Mononoki Regular"),
    local("Mononoki-Regular"),
    url(~@fontsource/mononoki/files/mononoki-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/mononoki/files/mononoki-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Mononoki";
  font-style: normal;
  font-weight: 500;
  src:
    local("Mononoki Regular"),
    local("Mononoki-Regular"),
    url(~@fontsource/mononoki/files/mononoki-latin-700-normal.woff2) format("woff2"),
    url(~@fontsource/mononoki/files/mononoki-latin-700-normal.woff) format("woff");
}

