@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src:
    local("Lato Regular"),
    local("Lato-Regular"),
    url(~@fontsource/lato/files/lato-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/lato/files/lato-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src:
    local("Lato Italic"),
    local("Lato-Italic"),
    url(~@fontsource/lato/files/lato-latin-400-italic.woff2) format("woff2"),
    url(~@fontsource/lato/files/lato-latin-400-italic.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src:
    local("Lato Regular"),
    local("Lato-Regular"),
    url(~@fontsource/lato/files/lato-latin-700-normal.woff2) format("woff2"),
    url(~@fontsource/lato/files/lato-latin-700-normal.woff) format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 500;
  src:
    local("Lato Italic"),
    local("Lato-Italic"),
    url(~@fontsource/lato/files/lato-latin-700-italic.woff2) format("woff2"),
    url(~@fontsource/lato/files/lato-latin-700-italic.woff) format("woff");
}
