:root {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  --color-conta-dark: rgb(42, 54, 59);
  --color-conta-dark-soft: rgb(42, 54, 59, 0.5);
  --color-conta-dark-softer: rgb(42, 54, 59, 0.2);
  --color-conta-bright: rgb(104, 135, 142);
  --color-conta-hover: rgb(255, 255, 255, 0.1);
  --color-conta-note: rgb(255, 132, 124);
  --color-conta-note-soft: rgb(255, 132, 124, 0.2);
  --color-conta-interact: rgb(104, 135, 142);
  --color-conta-interact-soft: rgb(104, 135, 142, 0.5);
  --color-conta-interact-softer: rgb(104, 135, 142, 0.2);
  --color-conta-ok: rgb(153, 184, 152);
  --color-conta-ok-soft: #ebf1ea; /* rgb(153, 184, 152, 0.2); */
  --color-conta-ok-softer: rgb(153, 184, 152, 0.1);
  --color-conta-warning: rgb(232, 74, 95);

  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Raleway", "Roboto", "Lato", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "JetBrains Mono", "Syne Mono", "Oxygen Mono", "Mononoki", "Space Mono", "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-conta-ok-soft);
  --panel-border-color: var(--color-conta-interact);
  --scrollbar-thumb-color: var(--color-conta-note);
  /* navbar */
  --navbar-background: var(--color-conta-dark);
  --navbar-font-color: var(--color-white);
  --navbar_hover-background: var(--color-conta-hover);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-conta-dark-softer);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-conta-interact);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-conta-dark);
  --nav-panel-divider-color: var(--color-conta-interact);
  --nav-secondary-background: var(--color-conta-ok-softer);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-conta-dark-soft);
  --page-version-menu-background: var(--panel-background);
  --page-version-missing-font-color: var(--color-gray-30);
  /* admonitions */
  --caution-color: #c777c4;
  --caution-on-color: var(--color-white);
  --important-color: var(--color-conta-warning);
  --important-on-color: var(--color-white);
  --note-color: #558fd2;
  --note-on-color: var(--color-white);
  --tip-color: var(--color-conta-ok);
  --tip-on-color: var(--color-white);
  --warning-color: var(--color-conta-warning);
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-conta-dark);
  --heading-font-weight: 500;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #1565c0;
  --link_hover-font-color: #104d92;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-conta-dark);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--color-conta-ok-softer);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--color-conta-ok-softer);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-conta-ok-soft);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-smoke-90);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* dimensions and positioning */
  --navbar-height: calc(81 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(1024 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
